.container{
    // color: #ccc;
    // background-color: #414141;
    padding: 15px 25px 2px 5px;
    height: 100%;
    
  }
  .call-log-title{
    background-color: #1c73ad;
    color: #ccc;
    position: relative;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  
  }
  

   